[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark
